body {
    background-image: url('https://storage.lacapitalmdp.com/2022/05/La-Renga-La-Plata.jpg');
    background-size: 100%;
    
}

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #cc1d1d;
    }
    
    header li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

.link {
    display:flex;
    align-items: center;
    background-color: white;    
    font-size: 20px;
    border-radius: 30px;
    padding: 30px 30px;
    width: 10%;
    height: 20px;
    flex-direction: column;
    margin: 35px;
    justify-content:center;  
}
.play{ 
    display:flex;
    
    background-color: #cc1d1d;    
    font-size: 20px;
    border-radius: 30px;
    width: 20%;
    height: 30px;
    margin: 30px;
    justify-content:center;  
}

.texto {
    display: inline-block;
    margin: 30px;
}


h1 {
    display: inline-block;
    background-color: #cc1d1d;
    color: black;
}

h2 {
    display: inline-block;
    background-color: red;
    color: black;
}

h3 {
    color : white;
    background-color: black; 
    margin: 25px;
}

h4 {
    color: white;
    background-color: black;
    display :inline-block;
}

.chizzo {
     float:left;
     width: 22%;
     height: 22%;
}

.tete{
    float:right;
}

.tanque{
    float:center;
}


.texto{
    display: inline-block;
    
  }

footer {
    display: flex;
    justify-content: center;
    font-size: 30px; 
    color:#cc1d1d; 
}
